/config/*
!/config/nvim
/config/nvim/lazy-lock.json
!/config/nvim.bak
!/config/alacritty.yml
!/config/clangd
!/config/dconf
!/config/electron-flags.conf
!/config/fcitx*
!/config/fish
!/config/gtk-3.0
!/config/hypr
!/config/lapce-stable
!/config/lazygit
!/config/gitui
!/config/mpv
!/config/ranger
!/config/sway
!/config/waybar
