/config/*
!/config/alacritty.toml
!/config/clangd
!/config/dconf
!/config/fcitx5
!/config/fish
!/config/mako
!/config/mpv
!/config/mpv-image-viewer
/config/mpv-image-viewer/.git/
!/config/niri
!/config/nvim
/config/nvim/lazy-lock.json
!/config/sway
!/config/trans.sh
!/config/uv
!/config/waybar
!/config/zathura
