* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 3px;
    color: #ffffff;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #000000;
    background: #33cc99;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#window,
#clock,
#idle_inhibitor,
#battery,
#pulseaudio,
#network,
#memory,
#cpu,
#disk,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
    border-radius: 10px;
    background: #1e1e2e;
    opacity: 0.8;
    padding: 0px 10px;
    border: 1px solid #181825;
}


#temperature.critical {
    color: #eba0ac;
}

#tray {
    margin-right: 10px;
}

#workspaces {
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #fab387;
    margin-left: 10px;
    border-right: 0px;
}

#network {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #89b4fa;
    margin-right: 10px
} 

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
    margin-right: 10px;
}

#battery {
    color: #a6e3a1;
    margin-right: 10px;
    border-left: 0px;
}
